
SELECT 
    p.id AS project_id,
    p.name AS project_name,
    dpr.report_date,
    mr.worker_type,
    mr.count,
    mr.hajri,
    dpr.guide_wall_running_meter,
    dpr.steel_quantity_kg,
    dpr.concrete_quantity_cubic_meter,
    dpr.diesel_consumption_liters
FROM daily_progress_reports dpr
JOIN projects p ON dpr.project_id = p.id
JOIN manpower_reports mr ON mr.dpr_id = dpr.id
WHERE p.id = 1
ORDER BY dpr.report_date DESC;

