
SELECT 
    p.id AS project_id,
    p.name AS project_name,
    SUM(dpr.diesel_consumption_liters) as total_diesel_liters,
    SUM(dpr.steel_quantity_kg) as total_steel_kg,
    SUM(dpr.concrete_quantity_cubic_meter) as total_concrete_m3
FROM daily_progress_reports dpr
JOIN projects p ON dpr.project_id = p.id
GROUP BY p.id, p.name;

